.box{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.numberselect-label{
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: end;
}

.number-section{
    display: flex;
}

@media screen and (max-width:500px){
    .number-section{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .numberselect-label{
        justify-content: center;
        margin-top: 15px;
    }
}