.dicenumber-img{
    cursor: pointer;
}

.dice-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

@media screen and (max-width:500px) {
    .dicenumber-img{
        width: 150px;
    }
    .dice-style{
        margin-top: 10px;
    }
}